body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(#f7fff7, #f7f385);
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;

  min-height: calc(100vh - 0px);
  max-width: 100%;
}
/*  "background_color": "#e4dd15", */

.header h3 {
  display: flex;
  background-color: #f1d302;
  height: 40px;
  font-family: "Lobster";
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container-p {
  max-width: 150px;
  position: absolute;
  text-align: center;
  padding-left: 68%;
}
.anuncio-promo p {
  /*  background-color: #fd3e81; */
  background-color: #f1d302;
  border-radius: 3px;
  text-align: center;
  color: black;
  width: 130px;
  margin: 0;
  font-weight: 600;
  margin-top: -40px;
}

.container-promo-list {
  background-color: #fd3e81;
  border-radius: 3px;
  margin-top: 2px;
  width: 130px;
  height: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  animation: cambiar 17s infinite;
}

.container-promo p {
  text-align: left;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  5% {
    margin-top: 0;
  }
  12% {
    margin-top: -20px;
  }
  15% {
    /*  margin-top: -40px; */
  }
  20% {
    margin-top: -40px;
  }

  25% {
    /*  margin-top: -50px; */
  }
  30% {
    margin-top: -60px;
  }

  35% {
    /*  margin-top: -60px; */
  }
  40% {
    margin-top: -80px;
  }

  45% {
    /*  margin-top: -70px; */
  }
  50% {
    margin-top: -100px;
  }

  55% {
    /*  margin-top: -80px; */
  }
  60% {
    margin-top: -120px;
  }
  65% {
    /*  margin-top: -90px; */
  }
  70% {
    margin-top: -140px;
  }

  75% {
    margin-top: -160px;
  }
  80% {
    /*  margin-top: -100px; */
  }
  85% {
    margin-top: -180px;
  }
  90% {
    /*  margin-top: -110px; */
  }
  100% {
    margin-top: -200px;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
.fecha {
  border-radius: 25px;
  font-family: "Muli", sans-serif;
  color: #423a01;
  font-size: 12px;
  height: 25px;
  min-width: 100%;
  position: absolute;
  margin-top: -14px;
  text-align: center;
}

.table-repsonsive {
  margin: -58px 2px 2px 2px;
}

.form-control.car {
  text-align: left;
}

img.cart-compras {
  height: 30px;
  width: auto;
  padding-left: 6.9%;
}
img.list-compras {
  height: 30px;
  width: auto;
  padding-left: 6.5%;
}

input#totales.valor-car {
  margin-left: 6.9%;
}

.valor-car {
  color: black;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  height: 20px;
  width: 25px;
  border: 0;
}

input#count.valor-list {
  margin-left: 6.7%;
}

.valor-list {
  color: black;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  height: 20px;
  width: 25px;
  border: 0;
}

.table-bordered th,
td {
  vertical-align: middle !important;
  text-align: center !important;
  padding: 2px !important;
  margin-right: 20px !important;
}
th {
  text-align: center;
  background-color: #f6e35e;
  border: 1px solid #f7fff7 !important;
  border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 1px !important;
  text-align: center !important;
}

.form-controls {
  vertical-align: middle !important;
  height: 30px !important;
  width: 30px !important;
}

input[type="checkbox"] {
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"]:before {
  content: "\2714";
  border: 2px solid MediumSeaGreen;
  background-color: white;
  border-radius: 0.2em;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"]:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

.footer {
  background-color: #263238;
  display: flex;
  align-items: center; /* Centra vertical */
  justify-content: center; /* Centra horizontal */
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.fa-heart {
  color: red;
}

.instrucciones {
  display: flex;
  align-items: center; /* Centra vertical */
  justify-content: center; /* Centra horizontal */
  font-size: 30px;
}
.instrucciones i {
  position: absolute;
  margin-left: 8rem;
}

.fa-info-circle {
  position: absolute;
  color: yellow;
  font-size: 30px;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 0.3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1.5rem !important;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.cart-compras {
    height: 30px;
    width: auto;
    padding-left: 5.4%;
  }
  img.list-compras {
    height: 30px;
    width: auto;
    padding-left: 6.5%;
  }
  input#count.valor-list {
    margin-left: 7.9%;
  }

  input#totales.valor-car {
    margin-left: 6.2%;
  }

  th {
    font-size: 13px;
  }

  .form-control.item_name {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 1px;
  }

  .form-control.item_cant {
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .form-control.item_unit {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
}
